extends layout

block content
  h1= title
  p Welcome to #{title}
  
  ul
    each cont in contacts
     li 
      h4= cont.firstname
      p= cont.lastname 
      p= cont.email 
      p= cont.phonenumber 